h1 {
  color: orangered;
  font-size: 30px;
  font-weight: bolder;
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  color: green;
  text-decoration: dashed;
  background-color: orange;
}
.paragraph {
  color: rgb(108, 35, 245);
}
* {
  background-color: blanchedalmond;
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
